@page "/"

<style>
    .container {
        width: 400px;
    }

    button {
        width: 100px;
        height: 100px;
        font-size: 50px;
    }
</style>

<div class="container">
    <div class="row">
        @foreach (var animal in shuffledAnimals)
        {
            <div class="col-3">
                <button class="btn btn-outline-dark">
                    <h1>@animal</h1>
                </button>
            </div>
        }
    </div>
</div>



@code {
    List<string> animalEmoji = new List<string>()
    {
        "🐶", "🐶",
        "🐴", "🐴",
        "😺", "😺",
        "🐮", "🐮",
        "🦊", "🦊",
        "🦁", "🦁",
        "🐯", "🐯",
        "🐹", "🐹"
    };

    List<string> shuffledAnimals = new List<string>();

    protected override void OnInitialized()
    {
        SetupGame();
    }
    void SetupGame()
    {
        Random random = new Random();
        shuffledAnimals = animalEmoji.OrderBy(s => random.Next()).ToList();
    }
}